---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../config';

export async function getStaticPaths({ paginate }) {
  const allPosts = (await Astro.glob('../../{blog,notes}/*.{md,mdx}'))
  const allTags = allPosts.flatMap(entry => entry.frontmatter.tags)
  .filter(tag => tag !== undefined)
  .sort((a, b) => a.toLowerCase().localeCompare(b.toLowerCase()));
  const uniqueTags = [...new Set(allTags)];

	return uniqueTags.map((tag) => {
		const filterPosts = allPosts.filter((post) =>
			post.frontmatter.tags?.includes(tag)
		);
		return paginate(filterPosts, {
			params: { tag },
			pageSize: 10,
		});
	});
}

const { page } = Astro.props;
const { tag } = Astro.params;

console.log(page.data[0].frontmatter.title);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <hl>{tag}</hl>
			<ul>
        {page.data.map((p) => (
          <li>
            {p.frontmatter.title}
          </li>
        ))}
      </ul>
		</main>
		<Footer />
	</body>
</html>
