---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/placeholder-social.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="48x48" href="/favicon/icon-48x48.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="96x96" href="/favicon/icon-96x96.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/icon-144x144.png?v=2">
<link rel="apple-touch-icon" sizes="192x192" href="/favicon/icon-192x192.png?v=2">
<link rel="apple-touch-icon" sizes="256x256" href="/favicon/icon-256x256.png?v=2">
<link rel="apple-touch-icon" sizes="384x384" href="/favicon/icon-384x384.png?v=2">
<link rel="apple-touch-icon" sizes="512x512" href="/favicon/icon-512x512.png?v=2">

<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&amp;display=swap" rel="stylesheet">
