---
import { Image } from "@astrojs/image/components";
import { SITE } from "$/config";
import BaseHead from "$/components/BaseHead.astro";
import Bio from "$/components/Bio.astro";
import Divider from "$/components/Divider.astro";
import MainLayout from "$/components/MainLayout.astro";

const {
  content: { title, description, pubDate, updatedDate, heroImage, tags },
} = Astro.props;

// Match the `heroImage` frontmatter string to its correct
// Astro.glob() import of the file in the src/ directory.
const assets = await Astro.glob("../assets/**/*");
const heroImageAsset = assets.find((asset) => {
  // If no heroImage prop set, return false
  if (!heroImage) {
    return false;
  }
  // If there is no default.src for the asset, return false
  if (!asset.default?.src) {
    return false;
  }

  const hImg = asset.default.src.includes(heroImage);
  return hImg;
});

const discussionUrl = `https://mobile.twitter.com/search?q=${encodeURIComponent(
  Astro.url
)}`;
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={title ? `${SITE.title} | ${title}` : SITE.title}
      description={description}
    />
    <style>
      .title {
        font-size: 1.5em;
        margin: 0.25em 0 0;
      }

      @media screen and (min-width: 770px) {
        .title {
          font-size: 2em;
        }
      }

      .tags a {
        margin-right: 0.5rem;
      }
    </style>
  </head>
  <MainLayout>
    <article class="blog-post">
      {
        heroImageAsset && (
          <Image
            width={720}
            height={360}
            src={heroImageAsset.default}
            alt={title}
          />
        )
      }
      <h1 class="title">{title}</h1>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <Divider />
      <slot />
      {
        tags.length && (
          <p class="tags">
            Tags:{" "}
            {tags.map((tag) => (
              <a href={`/tags/${tag}`}>{tag}</a>
            ))}
          </p>
        )
      }
    </article>
    <Divider />
    <aside>
      <p>
        <a href={discussionUrl}>Discuss On Twitter</a>
      </p>
      <Bio />
    </aside>
  </MainLayout>
</html>
