---
import { SITE } from '$/config';
import BaseHead from '$/components/BaseHead.astro';
import Divider from '$/components/Divider.astro';
import MainLayout from '$/components/MainLayout.astro';

const {
	content: {
		title,
		description,
		pubDate,
		updatedDate,
    tags,
	},
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={ title ? `${ SITE.title } | ${title}` : SITE.title }
      description={ description }
    />
    <style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}

      .tags a {
        margin-right: 0.5rem;
      }
		</style>
  </head>
  <MainLayout>
    <article>
      <h1 class="title">{title}</h1>
      {pubDate && <time>{pubDate}</time>}
      {updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
      <Divider />
      <slot />
      {tags.length && (<p class="tags">Tags: {tags.map(tag =>(<a href={`/tags/${tag}`}>{tag}</a>) )}</p>)}
    </article>
  </MainLayout>
</html>
